<!DOCTYPE html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Ally's Bio</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="./aboutstyle.css">
    </head>
    <body>
        <div class="menu-container">
            <div class="logo">Ally's Art</div>
            <!--Buttons and the clicky container holding them-->
            <div class="clicky">
                <button class="button btn3"><a href="./index.hbs">Home</a></button>
                <button class="button btn2"><a href="./store.hbs">Store</a></button>
                <button class="button btn1"><a href="./about.hbs">About me</a></button>
                <button class="button btn4"><a href="./cart.hbs">Cart</a></button>
            </div>
        </div>
        <div class="top-images">
            <div class="blogimage"><img src="../images/parking-lot.jpg" alt="placeholder"></div>
            <div class="blogimage"><img src="../images/parking-lot.jpg" alt="placeholder"></div>
            <div class="blogimage"><img src="../images/parking-lot.jpg" alt="placeholder"></div>
            <div class="blogimage"><img src="../images/parking-lot.jpg" alt="placeholder"></div>
        </div>
        
    </body>
</html>